<DOCCTYPE html>

    <html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <h2>{{name}}</h2>
        <form>
            <input type="text" placeholder="enter a location">
            <button>Get Weather</button>
        </form>
        {{>footer}}
        <script src="/js/main.js"></script>
    </body>

    </html>